{% set 
logo = "white" 
%}
{% extends "layouts/_default.html" %}

{% block content %}

    <section class="bg-dark text-light header-inner p-0 jarallax o-hidden" data-overlay data-jarallax data-speed="0.6">
      <img src="assets/img/chisiamo.jpg" alt="Image" class="jarallax-img opacity-60"/>
      <div class="container py-0 layer-2">
        <div class="row my-3">
          <div class="col">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb d-none">
                <li class="breadcrumb-item">
                  <a href="index.html">Home</a>
                </li>
                <li class="breadcrumb-item">
                  <a href="#">Pages</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Current Page</li>
              </ol>
            </nav>
          </div>
        </div>
        <div class="row my-4 my-md-6" data-aos="fade-up">
          <div class="col-lg-9 col-xl-8">
            <h1 class="display-4">Dal 1969</h1>
            <p class="lead mb-0">La Storia della Canoa a Palermo.</p>
          </div>
        </div>
      </div>
    
      <div class="divider flip-x">
        <img src="assets/img/dividers/divider-1.svg" alt="graphical divider" data-inject-svg />
      </div>
    </section>
    <section>
      <div class="container">
        <div class="row mb-4">
          <div class="col">
            <h2>Un paio di numeri:</h2>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-6 mb-3 col-lg-3 mb-lg-0" data-aos="fade-up" data-aos-delay="100">
            <span class="display-4 text-primary d-block" data-countup data-start="0" data-end="54" data-duration="3" data-grouping="true"></span>
            <span class="h6">Anni di Attività</span>
          </div>
          <div class="col-6 mb-3 col-lg-3 mb-lg-0" data-aos="fade-up" data-aos-delay="200">
            <span class="display-4 text-primary d-block" data-countup data-start="1" data-end="249" data-duration="3" data-grouping="true"></span>
            <span class="h6">Titoli Italiani</span>
          </div>
          <div class="col-6 mb-3 col-lg-3 mb-lg-0" data-aos="fade-up" data-aos-delay="300">
            <span class="display-4 text-primary d-block" data-countup data-start="1" data-end="4" data-duration="3" data-grouping="true"></span>
            <span class="h6">Titoli Mondiali </span>
          </div>
          <div class="col-6 mb-3 col-lg-3 mb-lg-0" data-aos="fade-up" data-aos-delay="400">
            <span class="display-4 text-primary d-block" data-countup data-start="1" data-end="4"  data-duration="3" data-grouping="true" data-suffix=""></span>
            <span class="h6">Titoli Olimpici e Europei</span>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container" data-aos="fade-up">
        <div class="row align-items-center justify-content-around">
          <div class="col-md-5 col-xl-6 mb-4 mb-md-0">
            <img src="assets/img/inner-2.jpg" alt="Image" class="rounded shadow-3d" />
          </div>
          <div class="col-md-7 col-xl-6">
            <div class="row justify-content-center">
              <div class="col-xl-8 col-lg-10">
                <span class="badge badge-primary">Sport</span>
                <div class="my-3">
                  <span class="h1">La Nostra Storia</span>
                </div>
                <p class="lead">La Società Canottieri Trinacria fu fondata nel 1969 da un gruppo di soci appassionati dello sport del canottaggio e della canoa, che si riunirono con l'intento di costruire una nuova realtà sportiva, sociale e culturale. </p>
                <p class="lead mb-0">In tutti questi anni, la Società Canottieri Trinacria ha continuato senza sosta la sua attività di avviamento alla specialità Olimpica della Canoa per centinaia di giovani atleti, alcuni dei quali si sono affermati a livello nazionale e internazionale, vincendo numerosi titoli italiani e indossando la maglia azzurra.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="p-0">
      <div class="container py-6">
        <div class="row mb-4" data-aos="fade-up">
          <div class="col">
            <h2>Team</h2>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="card card-lg card-body align-items-center">
              <span class="badge badge-primary badge-top">Presidente</span>
              <img src="assets/img/avatars/female-1.jpg" alt="Kathleen Wong" class="avatar avatar-xlg mb-3" />
              <h6 class="mb-0">Gianni Fiore</h6>
              <span></span>
            </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-md-6 " data-aos="fade-up" data-aos-delay="600">
            <div class="card card-lg card-body align-items-center">
              <img src="assets/img/avatars/female-4.jpg" alt="Helena Price" class="avatar avatar-xlg mb-3" />
              <h6 class="mb-0">Ermelinda Bruno</h6>
              <span>Dirigente</span>
            </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="card card-lg card-body align-items-center">
              <span class="badge badge-primary badge-top d-none"></span>
              <img src="assets/img/avatars/male-2.jpg" alt="Anil Bhaktar" class="avatar avatar-xlg mb-3" />
              <h6 class="mb-0">Mimmo Lo Monaco</h6>
              <span>Allenatore</span>
            </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="card card-lg card-body align-items-center">
              <img src="assets/img/avatars/male-1.jpg" alt="Andrew Price" class="avatar avatar-xlg mb-3" />
              <h6 class="mb-0">Agnese Celestino</h6>
              <span>Allenatore</span>
            </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="card card-lg card-body align-items-center">
              <img src="assets/img/avatars/female-2.jpg" alt="Maya Sanders" class="avatar avatar-xlg mb-3" />
              <h6 class="mb-0">Alex Carollo</h6>
              <span>Allenatore</span>
            </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-md-6 d-none" data-aos="fade-up" data-aos-delay="500">
            <div class="card card-lg card-body align-items-center">
              <img src="assets/img/avatars/male-4.jpg" alt="Marco Schneider" class="avatar avatar-xlg mb-3" />
              <h5 class="mb-0">Marco Schneider</h5>
              <span>Experience Designer</span>
            </div>
          </div>
          
          <div class="col-xl-3 col-lg-4 col-md-6 d-none" data-aos="fade-up" data-aos-delay="700">
            <div class="card card-lg card-body align-items-center">
              <img src="assets/img/avatars/male-5.jpg" alt="Kenneth O'Dowd" class="avatar avatar-xlg mb-3" />
              <h5 class="mb-0">Kenneth O'Dowd</h5>
              <span>Strategy</span>
            </div>
          </div>
        </div>
        <div class="row d-none">
          <div class="col">
            <span>Interested in joining our team? <a href="#">View career openings</a>
            </span>
          </div>
        </div>
      </div>
      <div class="divider d-none" style="">
        <img class="decoration bg-primary-alt" src="assets/img/dividers/divider-3.svg" alt="divider graphic" data-inject-svg />
      </div>
    </section>
    <section class="bg-primary-alt o-hidden d-none">
      <div class="container">
        <div class="row mb-4">
          <div class="col">
            <h2>Our History</h2>
          </div>
        </div>
        <div class="row o-hidden o-lg-visible">
          <div class="col d-flex flex-column align-items-center">
            <ol class="process-vertical">
              <li data-aos="fade-left">
                <div class="process-circle bg-primary"></div>
                <div>
                  <span class="text-small text-muted">October 2016</span>
                  <h5 class="mb-0">Secured Series-A funding</h5>
                </div>
              </li>
              <li data-aos="fade-right">
                <div class="process-circle bg-primary"></div>
                <div>
                  <span class="text-small text-muted">April 2017</span>
                  <h5 class="mb-0">New CTO: Joe Schultz</h5>
                </div>
              </li>
              <li data-aos="fade-left">
                <div class="process-circle bg-primary"></div>
                <div>
                  <span class="text-small text-muted">October 2017</span>
                  <h5 class="mb-0">v1.0 Ships</h5>
                </div>
              </li>
              <li data-aos="fade-right">
                <div class="process-circle bg-primary"></div>
                <div>
                  <span class="text-small text-muted">February 2018</span>
                  <h5 class="mb-0">Featured in Wired</h5>
                </div>
              </li>
              <li data-aos="fade-left">
                <div class="process-circle bg-primary"></div>
                <div>
                  <span class="text-small text-muted">September 2018</span>
                  <h5 class="mb-0">v.20 Ships</h5>
                </div>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </section>
{% endblock %}