{% set 
logo = "white" 
%}

{% extends "layouts/_default.html" %}

{% block content %}
    <section class="bg-dark text-light header-inner p-0 jarallax position-relative" data-jarallax data-speed="0.2" data-overlay>
      <img src="assets/img/flag.jpg" alt="Image" class="jarallax-img opacity-40"/>
      <div class="container py-0">
        <div class="row my-3 ">
          <div class="col">
            <nav aria-label="breadcrumb " class ="d-none">
              <ol class="breadcrumb ">
                <li class="breadcrumb-item ">
                  <a href="index.html">Home</a>
                </li>
                <li class="breadcrumb-item">
                  <a href="#">Pages</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Contact</li>
              </ol>
            </nav>
          </div>
        </div>
        <div class="row my-4 my-md-6" data-aos="fade-up  ">
          <div class="col-lg-9 col-xl-8 ">
            <h1 class="display-4">Contatti</h1>
            <p class="lead mb-0 d-none"></p>
          </div>
        </div>
      </div>
      <div class="divider">
        <img src="assets/img/dividers/divider-2.svg" alt="graphical divider" data-inject-svg />
      </div>
    </section>
    <section>
      <div class="container">
        <div class="row text-center">
          <div class="col-sm-4 mb-3 mb-sm-0">
            <h3 class="h2">Sede Sociale</h3>
            <span class="lead">
             Piazza capitaneria di porto molo CT  del bersagliere,
              <br /> Palermo.
           
            </span>
          </div>
          <div class="col-sm-4 mb-3 mb-sm-0">
            <h3 class="h2">Email</h3>
            <a href="mailto:canottieritrinacria@virgilio.it" class="lead">canottieritrinacria@virgilio.it</a>
          </div>
          <div class="col-sm-4 mb-3 mb-sm-0">
            <h3 class="h2">Chiamaci</h3>
            <span class="lead">
              +347 4728 3928
            </span>
            <div class="text-small text-muted">Lun - Ven, 9.00 - 17.00</div>
          </div>
        </div>
      </div>
    </section>
    
  {% endblock %}